<!DOCTYPE html>
<html>
<head>
  <title>VisDir</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto+Slab:700,400' type='text/css'>
  <link rel="stylesheet" href="css/application.css" type='text/css'>
  <script type="text/javascript" src="scripts/application.js"></script>
</head>
<body>

<header>
  <div id="header">
    <h1 id="header-logo"><a href="#">VisDir</a></h1>
  
    <nav id="header-nav">
      <ul id="header-nav-ul">
        <li><a href="#" class="header-nav-link">Favs</a></li>
        <li><a href="#" class="header-nav-link">About</a></li>
      </ul>
    </nav>
  
    <div id="header-account">
      <div id="header-account-label">Photographers</div>
    
      <ul id="header-account-ul">
        <li id="header-account-login"><a href="#">Log in</a> or</li>
        <li id="header-account-signup"><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div id="main">
    <div id="searchbar">
      <div id="searchbar-label">I'm looking for</div>
    
      <div class="searchbar-section">
        <select>
          <option>All</option>
          <option>Senior Portrait</option>
          <option>Wedding</option>
          <option>Real Estate</option>
        </select>
      
        <div class="searchbar-section-label">Photographers</div>
      </div>
    
      <div class="searchbar-label_section">in</div>
    
      <div class="searchbar-section">
        <select>
          <option>All Locations</option>
          <option>Washington, D.C.</option>
          <option>Omaha, NE</option>
          <option>Council Bluffs, NE</option>
        </select>
      </div>
    
      <div class="searchbar-label_section">for</div>
    
      <div class="searchbar-section">
        <select>
          <option>Any Budget</option>
          <option>Low Budget</option>
          <option>High Budget</option>
        </select>
      </div>
    </div>
  
    <div id="cards">
      <div class="card card-pro">
        <a href="#" class="card-fav">Add to Favs</a>
      
        <div class="card-preview">
          <a href="/listing/1"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <h2 class="card-header"><a href="/listing/1">ACME Photography</a></h2>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">Low Budget</div>
        </div>
      </div>
    
      <div class="card card-pro">
        <a href="#" class="card-fav">Remove from Favs</a>
      
        <div class="card-preview">
          <a href="/listing/90"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <h2 class="card-header"><a href="/listing/90">Tiny Lens Studios</a></h2>
      
        <div class="card-details">
          <div class="card-details-location">Lincoln, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Remove from Favs</a>
        
        <h2 class="card-header"><a href="/listing/11">Still Photography</a></h2>
      
        <div class="card-preview">
          <a href="/listing/11"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Add to Favs</a>
        
        <h2 class="card-header"><a href="/listing/21">Ansel Adams</a></h2>
      
        <div class="card-preview">
          <a href="/listing/21"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Add to Favs</a>
        
        <h2 class="card-header"><a href="/listing/54">Instagram Studios</a></h2>
      
        <div class="card-preview">
          <a href="/listing/54"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Lincoln, NE</div>
          <div class="card-details-budget">Low Budget</div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div id="footer">
    <a href="#">VisDir</a>
  </div>
</footer>

</body>
</html>
